# Default settings for the pipeline stages.
# These can be overridden in the stage settings below.

defaults:
    # Number of CPU cores to use for the task
    cores: 1
    # Maximum memory in gigabytes for a cluster job
    mem: 4
    # M3 account for quota
    account: vh83
    queue: com
    # Maximum allowed running time on the cluster in Hours:Minutes
    walltime: '01:00'
    # Load modules for running a command on the cluster.
    modules:
    # Run on the local machine (where the pipeline is run)
    # instead of on the cluster. False means run on the cluster.
    local: False

# Stage-specific settings. These override the defaults above.
# Each stage must have a unique name. This name will be used in
# the pipeine to find the settings for the stage.

stages:
    # Align paired end FASTQ files to the reference
    align_bwa:
        queue: short
        cores: 4
        walltime: '00:30'
        mem: 16
        modules:
            - 'bwa/0.7.12'
            - 'samtools/1.7'
            - 'gnuparallel/20160822'

    apply_undr_rover:
        queue: com
        cores: 1
        walltime: '06:00'
        mem: 4
        modules:
            - 'gatk/3.7'

    # Sort the BAM file with Picard
#    sort_bam_picard:
#        queue: short
#        cores: 1
#        walltime: '00:30'
#        mem: 4
#        modules:
#            - 'picard/2.9.2'

#    primary_bam:
#        queue: short
#        cores: 1
#        walltime: '00:30'
#        modules:
#            - 'samtools/1.7'

#    index_sort_bam_picard:
#        queue: short
#        walltime: '00:30'
#        mem: 4
#        modules:
#            - 'picard/2.9.2'
#            - 'samtools/1.7'

    call_haplotypecaller_gatk:
        queue: short
        walltime: '00:30'
        cores: 4
        mem: 16
        modules:
            - 'gatk/3.7'

    # Combine G.VCF files for all samples using GATK
    combine_gvcf_gatk:
        queue: com
        cores: 1
        walltime: '01:00'
        mem: 30
        modules:
            - 'gatk/3.7'

    # Genotype G.VCF files using GATK
    genotype_gvcf_gatk:
        queue: short
        cores: 8
        walltime: '00:30'
        mem: 32
        modules:
            - 'gatk/3.7'

    genotype_filter_gatk:
        queue: short
        walltime: '00:30'
        mem: 16
        modules:
            - 'gatk/3.7'

    vt_decompose_normalise:
        queue: short
        cores: 1
        walltime: '00:20'
        mem: 8
        modules:
            - 'vt/0.57'

    variant_annotator_gatk:
        queue: short
        walltime: '00:30'
        mem: 32
        cores: 8
        modules:
            - 'gatk/3.7'

    gatk_filter:
        queue: short
        walltime: '00:30'
        mem: 16
        modules:
            - 'gatk/3.7'

    # run VEP annotation
    apply_vep:
        queue: short
        cores: 24
        mem: 100
        walltime: '00:30'
        modules:
            - 'vep/90'

    intersect_bed:
        queue: short
        walltime: '00:10'
        mem: 8
        modules:
            - 'bedtools/2.26.0'

    coverage_bed:
        queue: short
        walltime: '00:10'
        mem: 8
        modules:
            - 'bedtools/2.26.0'

    genome_reads:
        queue: short
        walltime: '00:10'
        mem: 2
        modules:
            - 'samtools/1.7'

    target_reads:
        queue: short
        walltime: '00:10'
        mem: 2
        modules:
            - 'samtools/1.7'

    total_reads:
        queue: short
        walltime: '00:10'
        mem: 2
        modules:
            - 'samtools/1.7'

    generate_stats:
        queue: com
        walltime: '00:30'
        mem: 32
        modules:
            - 'R/3.4.3'

    generate_amplicon_metrics:
        queue: short
        walltime: '00:10'
        mem: 4
        modules:
            - 'bedtools/2.26.0'


##after undr_rover settings
    sort_vcfs:
        queue: short
        walltime: '00:30'
        mem: 4
        modules:
            - 'bcftools/1.6'

    index_vcfs:
        queue: short
        walltime: '00:30'
        mem: 2
        modules:
            - 'bcftools/1.6'

    concatenate_vcfs:
        queue: short
        walltime: '00:30'
        mem: 8
        modules:
            - 'bcftools/1.6'

    index_final_vcf:
        queue: short
        walltime: '00:30'
        mem: 8
        modules:
            - 'bcftools/1.6'

pipeline_id: 'hiplex'

# Reference genome
ref_grch37: /projects/vh83/reference/genomes/b37/bwa_0.7.12_index/human_g1k_v37_decoy.fasta

#undr_rover specific files and settings
interval_file: /projects/vh83/reference/brastrap_specific/BRA-STRAP_621717_100.final.roverfile_g37.numsort.bed
primer_file: /projects/vh83/reference/brastrap_specific/BRA-STRAP_621717_100.final.undrroverfile.txt
proportionthresh: 0.2
absthresh: 20
maxvariants: 20

#bam_clipper
primer_bedpe_file: /projects/vh83/reference/brastrap_specific/BRA-STRAP_621717_100.final.bamclipper.bedpe_b37.txt
bamclipper: /projects/vh83/local_software/bamclipper/bamclipper.sh

#GATK and Picard
picard_jar: /usr/local/picard/2.9.2/picard.jar
gatk_jar: /usr/local/gatk/3.7/executable/GenomeAnalysisTK.jar

# Annotation resources
dbsnp_b37: /projects/vh83/reference/genomes/b37/accessory_files/dbsnp_138.b37.vcf
other_vep: /usr/local/vep/90/ensembl-vep/cache
vep_brcaex: /projects/vh83/reference/annotation_databases/BRCA-Exchange/BRCA-exchange_accessed-180118/BRCA-exchange_accessed-180118.sort.vcf.gz
vep_gnomad: /projects/vh83/reference/annotation_databases/gnomAD/gnomad.exomes.r2.0.2.sites/gnomad.exomes.r2.0.2.sites.vcf.gz
vep_revel: /projects/vh83/reference/annotation_databases/REVEL/REVEL-030616/revel_all_chromosomes.vcf.gz
vep_maxentscan: /projects/vh83/reference/annotation_databases/MaxEntScan/MaxEntScan_accessed-240118
vep_exac: /projects/vh83/reference/annotation_databases/ExAC/ExAC_nonTCGA.r0.3.1/ExAC_nonTCGA.r0.3.1.sites.vep.vcf.gz
vep_dbnsfp: /projects/vh83/reference/annotation_databases/dbNSFP/dbNSFPv2.9.3-VEP/dbNSFP-2.9.3.gz
vep_dbscsnv: /projects/vh83/reference/annotation_databases/dbscSNV/dbscSNV1.0-VEP/dbscSNV.txt.gz
vep_cadd: /projects/vh83/reference/annotation_databases/CADD/CADD-v1.3/1000G_phase3.tsv.gz

# The input FASTQ files.

fastqs:

runs:



